/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/.DS_Store
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/node_modules
/src/UtExam/ProEvalBundle/Resources/public/images/archivosSubidos/audios/*
/src/UtExam/ProEvalBundle/Resources/public/images/archivosSubidos/imagenes/*
/src/UtExam/ProEvalBundle/Resources/public/images/archivosSubidos/videos/*
/web/bundles/
