{% extends 'UtExamProEvalBundle:Default:base.html.twig' %}
{% block main %}
  <div class="container loginContainer" style="margin-top:40px">
  		<div class="row">
  			<div class="col-md-9 loginInterface">
  				<div class="panel panel-default">
  					<div class="panel-heading">
  						<strong>Escribe los datos que te pide</strong>
  					</div>
  					<div class="panel-body">
  						<form role="form" action="/register" method="POST">
  							<fieldset>
  								<div class="row">
  									<div class="center-block">
                    <a href="/">
  										<img class="profile-img"
  											src="{{ asset('bundles/utexamproeval/images/Logo-UT-01.png') }}" alt="">
                    </a>
  									</div>
  								</div>
  								<div class="row">
  									<div class="col-md-12 boxUser">
                      <div class="col-md-12">
                        <div class="form-group col-md-5">
                          <div class="input-group">
                            <span class="input-group-addon">
                              <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input class="form-control" id="userName" placeholder="Nombre" name="loginname" type="text" autofocus>
                          </div>
                        </div>
                        <div class="form-group col-md-5">
                          <div class="input-group">
                            <span class="input-group-addon">
                              <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input class="form-control" id="userNameUni" placeholder="Nombre de usuario" name="loginname" type="text" autofocus>
                          </div>
                        </div>
                        <div class="form-group col-md-5">
                          <div class="input-group">
                            <span class="input-group-addon">
                              <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input class="form-control" id="password" placeholder="Contraseña" name="loginname" type="password" autofocus>
                          </div>
                        </div>
                        <div class="form-group col-md-5">
    											<div class="input-group">
    												<span class="input-group-addon">
    													<i class="glyphicon glyphicon-book"></i>
    												</span>
                            <select class="form-control" id="userCarrera" name="carreraname">
                              <option value="-1">Carrera</option>
    													<option value="Mecatrónica área Automatización">Mecatrónica área Automatización</option>
    													<option value="Mantenimiento área Industrial">Mantenimiento área Industrial</option>
                              <option value="Tecnologías de la Información área Entornos Virtuales y Negocios Digitales">Tecnologías de la Información área Entornos Virtuales y Negocios Digitales</option>
                              <option value="Química área Industrial">Química área Industrial</option>
                              <option value="Desarrollo de Negocios área Mercadotecnia">Desarrollo de Negocios área Mercadotecnia</option>
                              <option value="Lengua Inglesa">Lengua Inglesa</option>
    												</select>
    											</div>
    										</div>
                        <div class="form-group col-md-5">
    											<div class="input-group">
    												<span class="input-group-addon">
    													<i class="glyphicon glyphicon-blackboard"></i>
    												</span>
                            <select class="form-control" id="txtGrupo" name="txtGrupo">
                              <option value="-1">Grupo</option>
    													<option value="1">1</option>
    													<option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                              <option value="6">6</option>
                              <option value="7">7</option>
                              <option value="8">8</option>
                              <option value="9">9</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
    												</select>
    											</div>
    										</div>
    										<div class="form-group col-md-5">
    											<div class="input-group">
    												<span class="input-group-addon">
    													<i class="glyphicon glyphicon-time"></i>
    												</span>
    												<select class="form-control" id="exampleFormControlSelect1" name="turno">
                              <option value="-1">Turno</option>
                              <option value="Vespertino">Vespertino</option>
    													<option value="Nocturno">Nocturno</option>
    												</select>
    											</div>
    										</div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group col-md-5">
                          <div class="input-group">
                            <span class="input-group-addon">
                              <i class="glyphicon glyphicon-apple"></i>
                            </span>
                            <select class="form-control" id="selectMaestro1" name="Maestro">
                              <option value="-1">Maestro 1 (comprensión lectora)</option>
                              <option value="1">1</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group col-md-5">
                          <div class="input-group">
                            <span class="input-group-addon">
                              <i class="glyphicon glyphicon-apple"></i>
                            </span>
                            <select class="form-control" id="selectMaestro2" name="Maestro">
                              <option value="-1">Maestro 2(pensamiento matemático)</option>
                              <option value="2">1</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group col-md-5">
                          <div class="input-group">
                            <span class="input-group-addon">
                              <i class="glyphicon glyphicon-apple"></i>
                            </span>
                            <select class="form-control" id="selectMaestro3" name="Maestro">
                              <option value="-1">Maestro 3(Inglés)</option>
                              <option value="3">1</option>
                            </select>
                          </div>
                        </div>
                      </div>
  										<div class="form-group col-md-8">
                       <center><div class="btn btn-lg btn-primary btn-block registerAlumno">Registrar</div></center>
  										</div>
  									</div>
  								</div>
  							</fieldset>
  						</form>
  					</div>
          </div>
  		  </div>
  	  </div>
  </div>
{% endblock %}
