{% block base %}
  {% block searchexam %}

  <div class="searchExam">
    <div class="searchExamHead">
      <p class="title">Buscar Examen:</p>
    </div>
    <div class="searchExamForm search-sec">
      <table class="table">
        <tr>
          <th scope="row">
            <select class="selectUser" name="selectUser">
              <option value="0">Selecciona el usuario</option>
              {% for user in users %}
                <option value="{{user.id}}">{{user.username}}</option>
              {% endfor %}
            </select>
          </th>
          <th scope="row">
            <select class="selectTipoExam" name="selectTipoExam">
              <option value="0">Selecciona Tipo de Examen</option>
              <option value="1">Examen Regular</option>
              <option value="2">Examen Auto</option>
            </select>
          </th>
          <th scope="row">
            <button id="searchExambtn" type="button" class="btn btn-primary wrn-btn" name="button">Buscar</button>
          </th>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div class="tableContainer">
    <div class="box box-primary" style="margin-bottom: 100px;">
      <table class="table table-bordered table-striped sonata-ba-list">
        <thead>
          <tr class="sonata-ba-list-field-header">
            <th class="sonata-ba-list-field-header-text row sonata-ba-list-field-header-order-asc ">
              <div class="col-md-2">
                Asignatura
              </div>
              <div class="col-md-1">
                Id
              </div>
              <div class="col-md-1">
                Type
              </div>
              <div class="col-md-2">
                Unidad(es) Temática(S)
              </div>
              <div class="col-md-2">
                Grupo
              </div>
              <div class="col-md-2">
                Tema(s)
              </div>
              <div class="col-md-2">
                Enviar
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="examenList">
        </tbody>
      </table>
    </div>
  </div>

  <div class="viwePDF">

  </div>

  {% endblock %}
{% endblock %}
