body {
  .alert{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    height: 45px;
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
      &:hover{
        color: black;
      }
    }
  }
}

$primary: darken(#428bca, 20%);
@import'login';
@import'loading';
@import'examen';
@import'home';
@import "node_modules/bootstrap/scss/bootstrap";
